#tx-dbmigrate-menu {
	width: 30px;
}
	#tx-dbmigrate-menu .divider {
		border-top: 1px solid #abb2bc;
		border-bottom: 1px solid transparent;
	/*	border-bottom: 1px solid #2b2b2b;*/
		height: 0px;
		margin: 0;
	}
	#tx-dbmigrate-menu .toolbar-item-menu .header {
		background-color: #dbdbdb;
		padding: 3px;
	}
	#tx-dbmigrate-menu .toolbar-item-menu .header:hover {
		background: #dbdbdb;
	}